---
---
<section class="w-full h-dvh flex gap-3 justify-center item-center p-4" >

  <div class="flex flex-col justify-center items-center gap-4">
    <h1 class="text-8xl font-nimbus">GASTON <br> MAIDANA</h1>
    <h2 class="text-5xl font-nimbus">SERVICIOS AUDIVISUALES</h2>
  </div>

  <picture class="overflow-hidden h-full rounded-lg opacity-50 
    border-2 border-yellow-400">
    <img class="object-cover h-full" src="./img/Banner-desk-1-1.png" alt="Juaquín Sabina">
  </picture>

</section>