---
 import './src/styles/global.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Gaston Maidana</title>
	</head>
	<body class="bg-gradient-to-br from-neutral-100 to-neutral-300 
		dark:from-gray-800 dark:to-black sm:px-2 md:px-6 lg:px-40
		text-neutral-900 dark:text-neutral-100 text-balance">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
